.expiration-message-container {
    color: var(--text-color-60, #9F9F9F);
    flex-shrink: 0;
    height: 1.75rem;
    margin: 0 2.5rem;
}

    .expiration-message-container > div:nth-child(1) {
        order: 1;
    }

    .expiration-message-container > div:nth-child(2) {
        order: 2;
    }

.warp-container {
    height: 100%;
    width: 100%;
}

.warp-content-container {
    margin: 2.5rem;
}

#copy-url-button {
    display: block;
}

#copy-url-silent-button {
    display: none;
}

@media screen and (max-width: var(--viewport-treshold, 768px)) {
    .expiration-message-container > div:nth-child(1) {
        order: 2;
    }

    .expiration-message-container > div:nth-child(2) {
        order: 1;
    }

    #copy-url-button {
        display: none;
    }

    #copy-url-silent-button {
        display: block;
    }
}
