.grid-v-container.grid-v-3.vh100 > div.grid-v-col-1,
.grid-v-container.grid-v-3.vh100 > div.grid-v-col-3 {
    display: block;
}

.footer-grid.grid-v-container.grid-v-3 {
    display: none;
}

@media screen and (max-width: 768px) {
    .grid-v-container.grid-v-3.vh100 > div.grid-v-col-1,
    .grid-v-container.grid-v-3.vh100 > div.grid-v-col-3 {
        display: none;
    }

    .footer-grid.grid-v-container.grid-v-3 {
        display: block;
    }
}
