.warp-input-container {
    height: 100%;
    width: 100%;
}

    .warp-input-container form {
        margin: 0 2.5rem;
    }

#warp-content-textarea {
    background: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
}
