
form {
    margin-bottom: 2rem;
}

.header {
    margin-top: 5vh;
}

    .header div {
        margin: 0 1rem;
    }

/**/

.warp-input-container {
    min-height: 100%;
    width: 100%;
}

.warp-input-container form {
    margin: 0 2.5rem;
}

.warp-content-textarea-container {
    min-height: 50vh;
}

.warp-content-textarea-span-container {
    background: none;
    border: 1px solid var(--primary-color-60, #C99EFF);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-sizing: border-box;
    min-height: calc(var(--default-font-size, 1.25rem) * 4);
}

@media screen and (max-width: 768px) {
    .warp-input-container form {
        margin: 0 1rem;
    }
}

