services:
  keydb:
    image: eqalpha/keydb
    ports:
      - 6379:6379
    volumes:
      - ./data:/data
    command: keydb-server
    networks:
      - warp-network

networks:
  warp-network:
    name: warp-network
    driver: bridge


