$theme-sizes: ( 
    "25": 25%, 
    "50": 50%, 
    "75": 75%, 
    "100": 100%,
    "auto": auto
);


$theme-sizes-dimensionless: ( 
    "25": 25, 
    "50": 50, 
    "75": 75, 
    "100": 100
);


@each $size, $value in $theme-sizes {
    .h-#{$size} {
        height: #{$value};
    }
}


@each $size, $value in $theme-sizes {
    .mh-#{$size} {
        max-height: #{$value};
    }
}


@each $size, $value in $theme-sizes-dimensionless {
    .vh-#{$size} {
        height: #{$value}vh;
    }
}


@each $size, $value in $theme-sizes-dimensionless {
    .min-vh-#{$size} {
        min-height: #{$value}vh;
    }
}


@each $size, $value in $theme-sizes {
    .w-#{$size} {
        width: #{$value};
    }
}


@each $size, $value in $theme-sizes {
    .mw-#{$size} {
        max-width: #{$value};
    }
}


@each $size, $value in $theme-sizes-dimensionless {
    .vw-#{$size} {
        width: #{$value}vw;
    }
}


@each $size, $value in $theme-sizes-dimensionless {
    .min-vw-#{$size} {
        min-width: #{$value}vw;
    }
}

$border-radius: .375rem;
$border-radius-sm: .25rem;
$border-radius-lg: .5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 50rem;

.border-radius {
    border-radius: $border-radius;
}

.border-radius-sm {
    border-radius: $border-radius-sm;
}

.border-radius-lg {
    border-radius: $border-radius-lg;
}

.border-radius-xl {
    border-radius: $border-radius-xl;
}

.border-radius-xxl {
    border-radius: $border-radius-xxl;
}

.border-radius-pill {
    border-radius: $border-radius-pill;
}
