a {
    text-decoration: none;
}

.button-primary,
.button-secondary {
    align-items: flex-start;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: .625rem;
    justify-content: flex-start;
    outline: none;
    padding: .75rem 1.5rem;
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--biggest-font-size, 1.25rem);
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    text-transform: lowercase;
}

.button-primary {
    background: var(--primary-color-100, #A762FF);
    color: var(--white-color-100, #FFF);
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
    background: var(--primary-color-100, #A762FF);
}

.button-primary:active,
.button-primary:focus {
    background: var(--primary-color-120, #8C4EDA);
    outline: none;
}

.button-secondary {
    background: none;
    border: none;
    color: var(--primary-color-100, #A762FF);
}

.button-secondary:focus {
    color: var(--primary-color-60, #C99EFF);
}

.button-secondary div div:nth-child(1) i {
    font-size: var(--default-font-size, 1rem);
    padding-right: .625rem;
}

.button-secondary > div > div:nth-child(2) {
    color: var(--primary-color-60, #C99EFF);
    display: none;
    font-size: var(--smallest-font-size, .75rem);
}

.button-tab {
    background: none;
    border: none;
    color: var(--text-color-100, #484848);
    cursor: pointer;
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--bigger-font-size, 1.15rem);
    font-weight: bold;
    margin: 1.5rem .5rem;
    text-transform: lowercase;
}

    .button-tab.active {
        border-bottom: var(--secondary-color-100, #88D723) 0.2rem solid;
    }

    .button-tab.disabled {
        color: var(--text-color-60, #9F9F9F);
        cursor: auto;
    }

    @media screen and (max-width: 768px) {
        .button-primary, .button-secondary {
        height: 2.5rem;
        justify-content: center;
        margin: .5rem .5rem;
        padding: 1rem 1.5rem;
    }
}
