.form-group {
    margin: 1rem 1.5rem;
}

.form-group label {
    color: var(--text-color-60, #9F9F9F);
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--smallest-font-size, .75rem);
    letter-spacing: .015rem;
    display: block;
    padding-left: .625rem;
}

@media screen and (max-width: 768px) {
    .form-group {
        margin: .5rem 1.5rem;
    }

        .form-group label {
            padding-left: .3125rem;
        }
}
