.big-logo {
    font-family: Krona One;
    font-size: 4.375rem;
    letter-spacing: 0;
    color: var(--primary-color-100, #A762FF);
}

.logo a {
    font-family: Krona One;
    font-size: 1.875rem;
    font-weight: normal;
    letter-spacing: 0;
    color: var(--primary-color-100, #A762FF);
}

@media screen and (max-width: 768px) {
    .big-logo {
        font-size: 3rem;
        visibility: hidden;
    }

    .logo {
        text-align: center;
    }

        .logo a {
            font-size: 1.5rem;
        }
}
