select {
    background: none;
    border: none;
    color: var(--primary-color-100, #A762FF);
    cursor: pointer;
    text-align: start;
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--bigger-font-size, 1.125rem);
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

select:focus {
    outline: none;
}

option {
    border: none;
    box-shadow: none;
    outline: none;
}
