/* This file is NOT used to style the textarea element */

textarea {
    align-items: flex-start;
    border-color: var(--primary-color-100, #A762FF);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--biggest-font-size, 1.25rem);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    gap: 0.375rem;
    padding: 0.625rem 1.25rem 0.875rem 1.25rem;
    width: auto;
}

textarea:active,
textarea:focus {
    border-color: var(--primary-color-60, #C99EFF);
    outline: none;
}

textarea:user-invalid {
    border-color: var(--error-color, #FFA767);
    outline: none;
}

textarea::placeholder {
    color: var(--text-color-60, #9F9F9F);
    font-family: var(--default-font-family, Montserrat);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-align: center;
    padding-top: 20vh;
}

.textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
}
