@import "../variables/_colors.scss";
@import "../variables/_variables.scss";


#empty-image-container {
    cursor: pointer;
}

.image-container {
    border: 2px solid $primary;
    height: 4 * $spacer;
    width: 4 * $spacer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.highlighted {
    border: 2px dashed $primary;
}
