:root {
    --error: #FFA767;
    --secondary-05: #F5F5F5;
    --secondary-60: #F2FFE1;
    --primary-60: #C99EFF;
    --primary-100: #A762FF;
    --primary-120: #8C4EDA;
    --text-10: #EFEFEF;
    --text-20: #D9D9D9;
    --text-40: #B9B9B9;
    --text-60: #9F9F9F;
    --text-100: #484848;
    --white-100: #FFF;
}
