:root {
    --viewport-treshold: 768px;
}

.vh50 {
    min-height: 50vh;
}

.vh75 {
    min-height: 75vh;
}

.vh100 {
    min-height: 100vh;
}

.vw50 {
    width: 50vw;
}

.vw100 {
    width: 100vw;
}
