:root {
    --default-font-family: Montserrat;

    --xx-biggest-font-size: 2.5rem;
    --x-biggest-font-size: 1.5rem;
    --biggest-font-size: 1.25rem;
    --bigger-font-size: 1.15rem;
    --default-font-size: 1rem;
    --smaller-font-size: .9rem;
    --smallest-font-size: .75rem;
    --x-smallest-font-size: .625rem;
    --xx-smallest-font-size: .5rem;
}

@media screen and (max-width: 768px) {
    :root {
        --xx-biggest-font-size: 2rem;
        --x-biggest-font-size: 1.25rem;
        --biggest-font-size: 1.1rem;
        --bigger-font-size: 1rem;
        --default-font-size: 0.9rem;
        --smaller-font-size: 0.8rem;
        --smallest-font-size: 0.7rem;
        --x-smallest-font-size: 0.6rem;
        --xx-smallest-font-size: 0.5rem;
    }
}