button {
    align-items: flex-start;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    gap: 0.625rem;
    height: 3.5rem;
    justify-content: center;
    line-height: normal;
    outline: none;
    padding: 1rem 3.75rem;
    text-align: center;
}

.btn-primary {
    background: var(--primary-100, #A762FF);
    color: var(--white-100, #FFF);
}

    .btn-primary:hover {
        background: var(--primary-100, #A762FF);
    }

    .btn-primary:active {
        background: var(--primary-120, #8C4EDA);
        outline: none;
    }

    .btn-primary:focus {
        background: var(--primary-120, #8C4EDA);
        outline: none;
    }

.btn-tertiary {
    background: none;
    border: none;
    color: var(--primary-100, #A762FF);
    cursor: pointer;
    margin: .5rem 3rem;
    padding: .5rem .75rem;
}

    .btn-tertiary:focus {
        color: var(--primary-60, #C99EFF);
    }

    .btn-tertiary div i {
        font-size: 1rem;
        padding-right: 0.625rem;
    }
