@import url(colors/colors.css);
@import url(elements/button.css);
@import url(elements/form.css);
@import url(elements/select.css);
@import url(elements/textarea.css);
@import url(frames/flex.css);
@import url(frames/grid.css);
@import url(layouts/layouts.css);
@import url(pages/entry.css);
@import url(pages/index.css);
@import url(pages/privacy.css);
@import url(sections/drop-area.css);
@import url(sections/errors.css);
@import url(sections/logo.css);
@import url(sections/modal-window.css);
@import url(sections/promo.css);
@import url(sections/social.css);
@import url(variables/colors.css);
@import url(variables/dimensions.css);

[contenteditable] {
    outline: none;
}

html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-100, #484848);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    width: 100%;
}

.back-button-container a {
    color: var(--text-60, #9F9F9F);
    font-size: 1rem;
    padding: 0.25rem 0rem;
}

.empty-left-column-container {
    padding: 2.5rem 1rem 2.5rem 0;
}
