@import url(components/button.css);
@import url(components/form.css);
@import url(components/logo.css);
@import url(components/modal-window.css);
@import url(components/select.css);
@import url(components/textarea.css);
@import url(layouts/flex.css);
@import url(layouts/grid.css);
@import url(sections/drop-area.css);
@import url(sections/promo.css);
@import url(sections/nav.css);
@import url(variables/colors.css);
@import url(variables/dimensions.css);
@import url(variables/fonts.css);

[contenteditable] {
    outline: none;
}

:root {
    color: var(--text-color-100, #484848);
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--default-font-size, 1rem);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

main {
    max-width: 976px;
}

.empty-left-column-container {
    padding: 2.5rem 1rem 2.5rem 0;
}

.footer-grid,
.header-grid {
    padding: 2.5rem 0;
    width: 100%;
}

.secondary-grey-column {
    background: var(--text-color-20, #D9D9D9);
    color: var(--text-color-60, #9F9F9F);
    font-size: var(--xx-biggest-font-size, 2.5rem);
    padding: 2.5rem;
}

@media (max-width: var(--viewport-treshold, 768px)) {
    body {
        font-size: 14px;
    }

    main {
        max-width: 100%;
    }

    .empty-left-column-container {
        padding: 1.5rem .5rem;
    }

    .footer-grid,
    .header-grid,
    .secondary-grey-column {
        padding: 1.5rem 0;
    }

    .secondary-grey-column {
        padding: 1.5rem;
    }
}
