@import url(button.css);
@import url(dimensions.css);
@import url(flex.css);
@import url(form.css);
@import url(grid.css);
@import url(textarea.css);
@import url(variables.css);

html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    color: var(--text-100, #484848);
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
}

select {
    border: none;
    color: var(--primary-100, #A762FF);
    text-align: start;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

    select:focus {
        outline: none;
    }

    option {
        border: none;
        box-shadow: none;
        outline: none;
    }

.back-button-container a {
    color: var(--text-60, #9F9F9F);
    font-size: 1rem;
    padding: 0.25rem 0rem;
}

.container {
    max-width: 976px;
}

.copyright {
    color: var(--text-40, #B9B9B9);
}

.empty-left-column-container {
    padding: 2.5rem 1rem 2.5rem 0;
}

.error-code-container {
    margin: 15vh 0 1.5rem;
    color: var(--text-10, #EFEFEF);
    font-size: 10rem;
}

.error-message-container {
    width: 23.75rem;
    height: 6.125rem;
    flex-shrink: 0;
}

    .error-message-container p:nth-of-type(1) {
        line-height: 2.5rem;
        margin-bottom: .25rem;
    }

    .error-message-container p:nth-of-type(2) {
        font-size: 1rem;
    }

    .error-message-container .error-list p {
        padding-left: 1rem 0 0 1rem;
    }

    .error-message-container .request-id {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .error-message-container .request-id p {
        line-height: 1.2rem;
    }

.footer-grid {
    padding: 2.5rem 1rem;
    width: 100%;
}

.header-grid {
    padding: 2.5rem 0;
    width: 100%;
}

.logo {
    font-family: Krona One;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-100, #A762FF);
}

.nav-container {
    margin: .75rem 0;
}

    .nav-container a {
        color: var(--text-60, #9F9F9F);
        padding: 0.25rem 0rem;
    }

.secondary-grey-column {
    background: var(--text-20, #D9D9D9);
    color: var(--text-60, #9F9F9F);
    font-size: 2.5rem;
    padding: 2.5rem;
}

.social {
    color: var(--text-60, #9F9F9F);
    font-size: 0.625rem;
    letter-spacing: 0.01875rem;
    font-size: 0.625rem;
}

#warp-content-textarea {
    min-width: 50vw;
}