<header class="grid-v-container grid-v-3 header-grid">
    <div class="grid-v-col-1"></div>
    <div class="grid-v-col-2">
        <partial name="Shared/_Logo" />
    </div>
    <div class="grid-v-col-3"></div>
</header>