<div class="nav-block">
    <nav class="nav-container">
        <a asp-area="" asp-page="/Index" tabindex="0">home</a>&nbsp;|&nbsp;
        <a asp-area="" asp-page="/Privacy" tabindex="0">privacy</a>&nbsp;|&nbsp;
        <a href="https://github.com/punk-link/warp" target="_blank" tabindex="0">sources</a>
    </nav>
    <section class="copyright">
        ©&nbsp;synonym.fans 2023-@DateTime.Now.Year&nbsp;|&nbsp;all rights reserved
    </section>
</div>