<div class="promo-container grid-v-container grid-v-2-eq vh100">
    <div class="grid-v-col-1">
        <div class="promo-text">
            snap, share, and say goodbye
            <br>
            <strong>
                share the moments instantly, knowing they'll disappear in no time
            </strong>
        </div>
    </div>
    <div class="brand-container grid-v-col-2 bg-secondary">
        <div class="big-logo-container">
            <div class="big-logo">
                warp
            </div>
        </div>
        <div class="warp-illustration-container">
            <img src="~/img/warp.svg" />
        </div>
    </div>
</div>