<div class="social">
    <div class="nav-container">
        <a asp-area="" asp-page="/Index">home</a>&nbsp;|&nbsp;
        <a asp-area="" asp-page="/Privacy">privacy</a>
    </div>
    <div class="copyright">
        ©&nbsp;synonym.fans 2023&nbsp;|&nbsp;all rights reserved
    </div>
</div>