<div class="social-container">
    <div class="grid-column-1"></div>
    <div class="grid-column-2 social">
        <div class="nav-container">
            <a asp-area="" asp-page="/Index">home</a>&nbsp;|&nbsp;
            <a asp-area="" asp-page="/Privacy">privacy</a>
        </div>
        <div class="copyright">
            ©&nbsp;synononym.fans 2023&nbsp;|&nbsp;all rights reserved
        </div>
    </div>
</div>