<footer class="footer-grid grid-v-container grid-v-3">
    <div class="grid-v-col-1">
        <div class="grid-v-container grid-v-2">
            <div class="grid-v-col-1"></div>
            <div class="grid-v-col-2 nav-block flex-container flex-direction-column justify-flex-end">
                <partial name="Shared/NavBlock" />
            </div>
        </div>
    </div>
    <div class="grid-v-col-2"></div>
    <div class="grid-v-col-3"></div>
</footer>