@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

<div class="flex">
    <h1 class="logo-style">
        <a asp-page="/Index" class="text-xl">
            @SharedLocalizer["Logo"]
        </a>
    </h1>
    <span class="px-2 text-gray-400 text-xs">beta</span>
</div>
