.flex-container {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.wrapped {
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .flex-direction-row {
        flex-direction: column;
    }

    .align-center,
    .align-flex-end {
        align-items: flex-start;
    }

    .justify-center,
    .justify-evenly,
    .justify-flex-end,
    .justify-space-between {
        justify-content: flex-start;
    }

    .wrapped {
        flex-wrap: nowrap;
    }
}
