.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-important {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-center-important {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.wrapped {
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .flex-row {
        display: flex;
        flex-direction: column;
    }

    .align-center,
    .align-end {
        align-items: flex-start;
    }

    .justify-center,
    .justify-evenly,
    .justify-flex-end,
    .justify-space-between {
        justify-content: flex-start;
    }

    .wrapped {
        flex-wrap: nowrap;
    }
}
