.container {
    max-width: 976px;
}

.footer-grid,
.header-grid {
    padding: 2.5rem 0;
    width: 100%;
}

.secondary-grey-column {
    background: var(--text-color-20, #D9D9D9);
    color: var(--text-color-60, #9F9F9F);
    font-size: 2.5rem;
    padding: 2.5rem;
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }

    .footer-grid,
    .header-grid,
    .secondary-grey-column {
        padding: 1.5rem 0;
    }

    .secondary-grey-column {
        font-size: 1.5rem;
        padding: 1.5rem;
    }
}
