@page
@using Microsoft.Extensions.Localization
@model DeletedModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Title"];
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive">
}

@section Scripts {
    <script type="module" defer>
        document.addEventListener('DOMContentLoaded', () => {
            let createButton = document.getElementById('create-button');
            createButton.addEventListener('click', () => {
                window.location.href = '/';
            });
        });
    </script>
}

<div class="min-h-screen flex flex-col">
    <!-- Header -->
    <div class="flex items-baseline px-3">
        <h1 class="logo">
            <a class="text-blue-500 hover:underline" asp-area="" asp-page="/Index">
                @SharedLocalizer["Logo"]
            </a>
        </h1>
    </div>

    <!-- Main Content -->
    <section class="flex-1 min-h-[75vh] px-3 mb-5 flex flex-col justify-between">
        <!-- Message -->
        <div class="flex flex-col items-center my-5">
            <i class="icofont-bin text-gray-400 mb-3 text-6xl"></i>
            <span class="text-gray-600 text-xl">
                @Localizer["the entry was deleted"]
            </span>
        </div>

        <!-- Action Button -->
        <div class="flex justify-center items-center w-full md:w-1/2 mx-auto sticky bottom-0 bg-transparent pb-3">
            <button id="create-button" class="bg-blue-500 text-white flex items-center px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                <i class="icofont-plus text-white mr-2"></i>
                @SharedLocalizer["CreateButton"]
            </button>
        </div>
    </section>
</div>

<partial name="Shared/Footer" />