@page
@using Microsoft.Extensions.Localization
@model DeletedModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Title"];
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive">
}

@section Scripts {
    <script type="module" defer>
        document.addEventListener('DOMContentLoaded', () => {
            let createButton = document.getElementById('create-button');
            createButton.addEventListener('click', () => {
                window.location.href = '/';
            });
        });
    </script>
}

<div class="min-vh-100">
    <div class="row align-items-baseline px-3">
        <h1 class="logo">
            <a class="text-primary" asp-area="" asp-page="/Index">
                @SharedLocalizer["Logo"]
            </a>
        </h1>
    </div>

    <section class="min-vh-75 px-3 mb-5 d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-center my-5">
            <i class="icofont-bin text-lighter mb-3 logo-icon"></i>
            <span class="text-light">
                @Localizer["the entry was deleted"]
            </span>
        </div>
        <div class="d-flex justify-content-center align-items-center col-12 offset-md-3 col-md-6 sticky-bottom bg-transparent pb-3">
            <div>
                <button id="create-button" class="btn btn-primary align-items-center" tabindex="2">
                    <i class="icofont-plus text-lighter"></i>
                    @SharedLocalizer["CreateButton"]
                </button>
            </div>
        </div>
    </section>
</div>

<partial name="Shared/Footer" />
