@page
@using Microsoft.Extensions.Localization
@model DeletedModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Title"];
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive">
}

@section Scripts {
    <script type="module" defer>
        import { redirectTo } from '/js/utils/routes.js';

        document.addEventListener('DOMContentLoaded', () => {
            const createButton = document.getElementById('create-button');
            createButton.addEventListener('click', () => {
                redirectTo('/');
            });
        });
    </script>
}

<div class="min-h-screen">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-baseline px-3">
        <div class="w-full sm:w-1/2 flex justify-start md:justify-center">
            <h1 class="logo-style">
                <a asp-page="/Index" class="text-xl">
                    @SharedLocalizer["Logo"]
                </a>
            </h1>
            <span class="px-2 text-gray-400 text-xs">beta</span>
        </div>
    </div>

    <!-- Main Content -->
    <section class="px-3 my-5">
        <div class="flex flex-col items-center justify-around min-h-[75vh]">
            <div class="w-full md:w-1/2 flex flex-col justify-center items-center mb-5">
                <i class="icofont-bin text-gray-400 text-6xl mb-5"></i>
                <span class="text-gray-400 text-base font-semibold">
                    @Localizer["the entry was deleted"]
                </span>
            </div>

            <!-- Action Button -->
            <div class="flex justify-center items-center w-full md:w-1/2 pb-3 sticky bottom-0 bg-transparent">
                <div class="bg-white rounded-sm">
                    <button id="create-button" class="btn btn-primary">
                        <i class="icofont-plus text-white/50 mr-2"></i>
                        @SharedLocalizer["CreateButton"]
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>

<partial name="Shared/Footer" />