@page "/entry/{id:Guid}"
@model EntryModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        @Model.ExpiresIn
    </div>
    <div>
        @Model.TextContent
    </div>
</div>
