@page "/entry/{id:Guid}"
@model EntryModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="Shared/_Header" />
<div class="warp-container flex-container flex-direction-column">
    <div>
        @Model.ExpiresIn
    </div>
    <div>
        @Model.TextContent
    </div>
</div>
<partial name="Shared/_Footer" />
