@page "/entry/{id:Guid}"
@model EntryModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="Shared/_Header" />
<div class="warp-container flex-container flex-direction-column">
    <div class="expiration-message-container">
        @Model.ExpiresIn
    </div>
    <div class="warp-content-container">
        @Html.Raw(Model.TextContent)
    </div>
    <div class="button-bar flex-container flex-direction-row justify-flex-end">
        <button class="btn-tertiary" type="button" onclick="copyUrl()">
            <div>
                <i class="icofont-copy"></i>
                copy link
            </div>
        </button>
        <button class="btn-tertiary" type="button">report</button>
    </div>
</div>
<partial name="Shared/_Footer" />
