@page 
@model IndexModel
@{
    ViewData["Title"] = "Warp. Share the moments instantly, knowing they'll disappear in no time.";
}

<partial name="Shared/_Header"/>
<section class="warp-input-container flex-container flex-direction-column vh100">
    <div class="upload-gallery flex-container wrapped justify-evenly"></div>
    <div class="drop-area">
        <form method="post" class="form-vertical">
            <div class="image-container" class="form-group">
                <p>Drag & drop photos here or <button id="upload-button" class="btn-tertiary" type="button">browse</button></p>
                <input type="file" id="file" class="file-input" multiple="multiple" accept="image/*">
            </div>
            <div class="form-group">
                <div class="warp-content-textarea-container">
                    <label for="warp-content-textarea">Type or paste text here</label>
                    <div class="warp-content-textarea-span-container">
                        <span id="warp-content-textarea-span" contenteditable></span>
                    </div>
                    <textarea id="warp-content-textarea" type="hidden" asp-for="TextContent"></textarea>
                </div>
            </div>
            <div class="button-bar flex-container">
                <div class="form-group">
                    <label asp-for="SelectedExpirationPeriod"></label>
                    <select asp-for="SelectedExpirationPeriod" asp-items="IndexModel.ExpirationPeriodOptions"></select>
                </div>
                <div>
                    <button class="btn-primary" type="submit">create</button>
                </div>
            </div>
        </form>
    </div>
</section>
<partial name="Shared/_Promo" />
<partial name="Shared/_Footer" />

<script type ="module">
    import { addIndexEvents } from '/js/index.js';

    document.addEventListener('DOMContentLoaded', () => {
        addIndexEvents();
    });
</script>
