@page 
@model IndexModel
@{
    ViewData["Title"] = "Warp. Share the moments instantly, knowing they'll disappear in no time.";
}

@section MetaTags {
    <meta name="description" content= "Warp allows you to share short-lived massages and media with your friends, family and colleagues.">
    <meta name="robots" content="all">
    <partial name="Shared/Components/OpenGraph" model="@Model.OpenGraphModel" />
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/index.css" asp-append-version="true">
}

<div class="flex-row-important justify-between header">
    <div class="flex-row">
        <partial name="Shared/Components/Logo"/>
    </div>
    <div class="flex-row-important">
        <partial name="Shared/Components/TabButton" model="@Model.TextModeButtonModel" view-data="ViewData" />
        <partial name="Shared/Components/TabButton" model="@Model.AdvancedModeButtonModel" view-data="ViewData" />
    </div>
</div>
<div id="text-mode">

</div>
<div id="advanced-mode">

</div>

@*
<section class="warp-input-container flex-container flex-direction-column vh100">
    <div class="upload-gallery flex-container wrapped justify-evenly"></div>
    <div class="drop-area">
        <form method="post" class="form-vertical">
            <div class="image-container form-group">
                <p>Drag & drop photos here or <button id="upload-button" class="btn-secondary" type="button">browse</button></p>
                <input type="file" id="file" class="file-input" multiple="multiple" accept="image/*">
            </div>
            <div class="form-group">
                <div class="warp-content-textarea-container">
                    <label for="warp-content-textarea">Type or paste text here</label>
                    <div class="warp-content-textarea-span-container">
                        <span id="warp-content-textarea-span" contenteditable tabindex="1"></span>
                    </div>
                    <textarea id="warp-content-textarea" asp-for="TextContent"></textarea>
                </div>
            </div>
            <div class="button-bar flex-container">
                <div class="form-group">
                    <label asp-for="SelectedExpirationPeriod"></label>
                    <select asp-for="SelectedExpirationPeriod" asp-items="IndexModel.ExpirationPeriodOptions" tabindex="2"></select>
                </div>
                <div>
                    <button class="btn-primary" type="submit" tabindex="3">create</button>
                </div>
            </div>
        </form>
    </div>
</section>
<partial name="Shared/Promo" />
<partial name="Shared/Footer" />
*@

<script type ="module">
    import { addIndexEvents } from '/js/index.js';

    document.addEventListener('DOMContentLoaded', () => {
        addIndexEvents();
    });
</script>
