@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="warp-container">
    <form method="post" class="form-vertical">
        <div class="form-group">
            <textarea asp-for="TextContent" rows="10" cols="100"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="SelectedExpirationPeriod"></label>
            <select asp-for="SelectedExpirationPeriod" asp-items="Model.ExpirationPeriodOptions"></select>
        </div>
        <button class="btn-primary" type="submit">Create</button>
    </form>
</div>
