@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="Shared/_Header"/>
<div class="warp-input-container flex-container flex-direction-column">
    <form method="post" class="form-vertical">
        <div class="form-group">
            <textarea id="warp-content-textarea" class="vh50" asp-for="TextContent" required></textarea>
        </div>
        <div class="flex-container align-center justify-space-between">
            <div class="form-group">
                <label asp-for="SelectedExpirationPeriod"></label>
                <select asp-for="SelectedExpirationPeriod" asp-items="Model.ExpirationPeriodOptions"></select>
            </div>
            <div>
                <button class="btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
<partial name="Shared/_Footer" />
