@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="Shared/_Header"/>
<div class="warp-input-container flex-container flex-direction-column">
    <div class="gallery"></div>
    <div class="drop-area">
        <form method="post" class="form-vertical">
            <div class="image-container" class="form-group">
                <p>Drag & drop photos here or <button class="btn-tertiary" type="button">browse</button></p>
                <input asp-for="Images" type="file" id="file" class="file-input" multiple="multiple" accept="image/*">
            </div>
            <div class="form-group">
                <textarea id="warp-content-textarea" class="vh50" asp-for="TextContent"></textarea>
            </div>
            <div class="flex-container align-center justify-space-between">
                <div class="form-group">
                    <label asp-for="SelectedExpirationPeriod"></label>
                    <select asp-for="SelectedExpirationPeriod" asp-items="Model.ExpirationPeriodOptions"></select>
                </div>
                <div>
                    <button class="btn-primary" type="submit">create</button>
                </div>
            </div>
        </form>
    </div>
</div>
<partial name="Shared/_Footer" />
<script src="js/drop-area.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.body.addEventListener('keydown', async function (e) {
            if (e.ctrlKey && (e.key === 'v' || e.key === 'V'))
                await pasteImages();
        });

        addDropAreaEvents();
    });
</script>
