@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="logo-container">
        <partial name="Shared/_Logo" />
    </div>
    <div class="warp-container">
        <form method="post" class="form-vertical">
            <div class="form-group">
                <textarea id="warp-content-textarea" asp-for="TextContent" required></textarea>
            </div>
            <div class="form-group">
                <label asp-for="SelectedExpirationPeriod"></label>
                <select asp-for="SelectedExpirationPeriod" asp-items="Model.ExpirationPeriodOptions"></select>
            </div>
            <button class="btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
