@page 
@model IndexModel
@{
    ViewData["Title"] = "Warp. Share the moments instantly, knowing they'll disappear in no time.";
}

@section MetaTags {
    <meta name="description" content= "Warp allows you to share short-lived massages and media with your friends, family and colleagues.">
    <meta name="robots" content="all">
    <partial name="Shared/Components/OpenGraph" model="@Model.OpenGraphModel" />
}

@section Scripts {
    <script type="module" src="~/js/components/textarea.js" defer></script>
    <script type="module" defer>
        import { addIndexEvents } from '/js/index.js';

        document.addEventListener('DOMContentLoaded', () => {
            addIndexEvents();
        });
    </script>
}

<div class="row align-items-baseline px-3">
    <div class="col-6">
        <h1 class="logo">
            <a class="text-primary" asp-page="/Index">warp</a>
        </h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <button id="mode-text" class="nav nav-tab active" tabindex="1">Text</button>
        <button id="mode-advanced" class="nav nav-tab" tabindex="2" disabled>Advanced</button>
    </div>
</div>

<section class="px-3 my-5">
    <form class="d-flex flex-column align-items-center justify-content-around min-vh-75" method="post">
        <div id="text-mode" class="col-12 col-md-6 mb-5">
            <div class="d-flex flex-column">
                <textarea id="warp-text" class="order-2" asp-for="TextContent" placeholder=" "></textarea>
                <label class="order-1 ps-0" for="warp-text">Type or paste text here</label>
            </div>
        </div>
        <div id="advanced-mode" class="d-none col-12 col-md-6 mb-5"></div>
        <div class="d-flex justify-content-between col-12 col-md-6 sticky-bottom bg-transparent p-3">
            <div>
                <label asp-for="SelectedExpirationPeriod"></label>
                <div class="input-group">
                    <span class="input-group-text primary">
                        <i class="icofont-close"></i>
                    </span>
                    <select asp-for="SelectedExpirationPeriod" asp-items="IndexModel.ExpirationPeriodOptions" tabindex="4"></select>
                </div>
            </div>
            <div>
                <button id="create-button" class="btn btn-primary" tabindex="5" type="submit">Create</button>
            </div>
        </div>
    </form>
</section>

<partial name="Shared/Footer"/>