@page "/not-found"
@model Warp.WebApp.Pages.NotFoundModel
@{
    ViewData["Title"] = "The entry wasn't found";
}

<div class="grid-v-container grid-v-3 vh100">
    <div class="grid-v-col-1">
        <partial name="Shared/_EmptyLeftGridColumn"/>
    </div>
    <div class="grid-v-col-2 secondary-grey-column">
        <partial name="Shared/_Logo"/>
        <div class="error-code-container">
            404
        </div>
        <div class="error-message-container">
            <p>Oops...</p>
            <p>The entry wasn't found</p>
        </div>
    </div>
    <div class="grid-v-col-3"></div>
</div>