@page "/not-found"
@model Warp.WebApp.Pages.NotFoundModel
@{
    ViewData["Title"] = "The entry wasn't found";
}

<div class="grid-container">
    <div class="grid-column-1">
        <div class="empty-left-column-container">
            <div class="grid-column-1">
                <partial name="Shared/_BackButton"/>
            </div>
            <div class="grid-column-2 social">
                <partial name="Shared/_Social"/>
            </div>
        </div>
    </div>
    <div class="grid-column-2 secondary">
        <div>
            Warp
        </div>
        <div class="error-code-container">
            404
        </div>
        <div class="error-message-container">
            <p>Oops...</p>
            <p>The entry wasn't found</p>
        </div>
    </div>
    <div class="grid-column-3"></div>
</div>