a {
    text-decoration: none;
}

.btn-primary,
.btn-tertiary {
    align-items: flex-start;
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: .625rem;
    justify-content: flex-start;
    outline: none;
    padding: 1rem 3.75rem;
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--biggest-font-size, 1.25rem);
    font-style: normal;
    font-weight: bold;
    height: 3.5rem;
    line-height: normal;
    text-align: center;
}

.btn-primary {
    background: var(--primary-color-100, #A762FF);
    color: var(--white-color-100, #FFF);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: var(--primary-color-100, #A762FF);
}

.btn-primary:active,
.btn-primary:focus {
    background: var(--primary-color-120, #8C4EDA);
    outline: none;
}

.btn-tertiary {
    background: none;
    border: none;
    color: var(--primary-color-100, #A762FF);
    cursor: pointer;
    margin: .5rem 3rem;
    padding: .5rem .75rem;
}

.btn-tertiary:focus {
    color: var(--primary-color-60, #C99EFF);
}

.btn-tertiary div div:nth-child(1) i {
    font-size: var(--default-font-size, 1rem);
    padding-right: .625rem;
}

.btn-tertiary > div > div:nth-child(2) {
    color: var(--primary-color-60, #C99EFF);
    display: none;
    font-size: var(--smallest-font-size, .75rem);
}

@media (max-width: 767px) {
    .btn-primary,
    .btn-tertiary {
        padding: .75rem 2.5rem;
        font-size: var(--bigger-font-size, 1.15rem);
        height: 2.5rem;
        justify-content: center;
    }

    .btn-tertiary > div > div:nth-child(2) {
        font-size: var(--x-smallest-font-size, .625rem);
    }
}
