@import "colors.scss";
@import "fonts.scss";
@import "functions.scss";
@import "variables.scss";

@mixin btn-link-variant($color) {
    background-color: none;
    color: $color;

    &:active,
    &:focus,
    &:hover {
        color: shade-color($color, 20);
    }
}

.btn {
    align-items: flex-start;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: .625 * $spacer;
    justify-content: flex-start;
    outline: none;
    padding: .75 * $spacer 1.5 * $spacer;
    font-family: $font-family-sans-serif;
    font-size: $font-size-lg;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
    text-align: center;
    text-transform: lowercase;
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        background-color: $value;
        color: tint-color($text-100, 90);

        &:active,
        &:focus,
        &:hover {
            background-color: shade-color($value, 20);
        }

        &:disabled {
            background-color: tint-color($value, 40);
            cursor: auto;
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-link-#{$color} {
        @include btn-link-variant($value);
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include btn-link-variant($value);

        border: .1 * $spacer solid $value;
    }
}