@import "functions.scss";


$primary-100: #A762FF;
$secondary-100: #88D723;
$text-100: #484848;
$warning-100: #FFA767;
$white-100: #FFF;

$primary: $primary-100;
$secondary: $secondary-100;

$theme-colors: (
    "light":tint-color($text-100, 40),
    "primary": $primary,
    "secondary": $secondary
);

@each $color, $value in $theme-colors {
    .#{$color} {
        color: $value;
    }
}

@each $color, $value in $theme-colors {
    .bg-#{$color} {
        background-color: $value;
    }
}