$headings-font-family: 'Krona One', serif;
$headings-font-weight: normal;

$font-family-sans-serif: 'Montserrat', sans-serif;

$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$input-font-size: $font-size-lg;
$input-line-height: $line-height-base;
