@import "colors.scss";
@import "fonts.scss";
@import "functions.scss";
@import "variables.scss";

%no-outline-variant {
    outline: none;
}


form {
    label {
        color: tint-color($text-100, 40);
        font-family: $font-family-sans-serif;
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        letter-spacing: .015rem;
        display: block;
        padding-left: .25 * $spacer;
        margin-bottom: .25 * $spacer;
    }

    select {
        background: none;
        border: none;
        color: $primary;
        cursor: pointer;
        text-align: start;
        font-family: $font-family-sans-serif;
        font-size: $input-font-size;
        font-style: normal;
        font-weight: $font-weight-bold;
        line-height: $input-line-height;

        &:focus {
            @extend %no-outline-variant;
        }
    }

    option {
        @extend %no-outline-variant;
        border: none;
        box-shadow: none;
    }

    textarea {
        border: none;
        border-bottom: 2px solid $primary;
        border-radius: 0;
        box-sizing: border-box;
        font-family: $font-family-sans-serif;
        font-size: $input-font-size;
        font-style: normal;
        font-weight: $font-weight-normal;
        line-height: $input-line-height;
        width: 100%;

        &:active,
        &:focus {
            @extend %no-outline-variant;
            border-color: shade-color($primary, 20);
        }
    }
}

.input-group {
    display: flex;
    align-items: stretch;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding-right: .25 * $spacer;
    font-size: $input-font-size; // Match inputs
    font-weight: $font-weight-normal;
    line-height: $input-line-height;
    text-align: center;
    white-space: nowrap;
}

$transition-base: all .2s ease-in-out !default;
$enable-transitions: true !default;
$enable-reduced-motion: true !default;

$form-floating-transition: opacity .1s ease-in-out, transform .1s ease-in-out !default;


@mixin transition($transition...) {
    @if length($transition) == 0 {
        $transition: $transition-base;
    }

    @if length($transition) > 1 {
        @each $value in $transition {
            @if $value == null or $value == none {
                @warn "The keyword 'none' or 'null' must be used as a single argument.";
            }
        }
    }

    @if $enable-transitions {
        @if nth($transition, 1) != null {
            transition: $transition;
        }

        @if $enable-reduced-motion and nth($transition, 1) != null and nth($transition, 1) != none {
            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }
    }
}


.form-floating {
    position: relative;


    .form-control {
        height: 3.5 * $spacer;
        min-height: 3.5 * $spacer;
        line-height: 1.25 * $spacer;
    }


    label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        padding: .75 * $spacer 1 * $spacer;
        overflow: hidden;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        border: 1px solid transparent; // Required for aligning label's text with the input as it affects inner box model
        transform-origin: 0 0;
        @include transition($form-floating-transition);
    }
}