@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "./components/_buttons.scss";
@import "./components/_forms.scss";
@import "./components/_image-processors.scss";
@import "./components/_modals.scss";
@import "./components/_navs.scss";
@import "./layout/_typography.scss";
@import "./utils/_animations.scss";
@import "./variables/_colors.scss";
@import "./variables/_sizing.scss";


root {
    color: $text-100;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
}

body {
    min-width: 320px;
}

div {
    font-family: $font-family-sans-serif;
}

p {
    font-family: $font-family-sans-serif;
}

.background-image-container {
    height: 0;
    left: 50vw;
    position: fixed;
    top: 60vh;
    width: 0;
    z-index: -1;

    div {
        height: 75vh;
        position: absolute;

        img {
            filter: invert(97%) sepia(3%) saturate(2195%) hue-rotate(344deg) brightness(106%) contrast(102%);
            opacity: .5;
        }
    }
}

.countdown {
    color: $text-100;
    font-family: $font-family-sans-serif;
    font-size: 1.875rem;
    font-weight: $font-weight-semibold;
    letter-spacing: 0;
}

.delete-image-icon-container {
    position: relative;
    top: -25%;

    a {
        height: 1.5 * $spacer;
        width: 1.5 * $spacer;
    }
}

.logo {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    letter-spacing: 0;
    text-decoration: line-through;
    text-transform: lowercase;

    a {
        font-family: $headings-font-family;
        font-size: 1.875rem;
        font-weight: $headings-font-weight;
        letter-spacing: 0;
        text-decoration: line-through;
        text-transform: lowercase;
    }
}

.logo-icon {
    font-size: 25vh;
}

.error-code {
    font-family: $font-family-sans-serif;
    font-size: 10 * $font-size-base;
}

.error-message {
    font-family: $font-family-sans-serif;
    font-size: $font-size-lg;
}

.error-list p {
    font-size: $font-size-base;
}

.illustration-icon {
    i {
        font-size: 5 * $font-size-base;
    }
}

.request-id {
    font-size: $font-size-base;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
}