@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "buttons.scss";
@import "colors.scss";
@import "form.scss";
@import "nav.scss";
@import "sizing.scss";
@import "texts.scss";


root {
    color: $text-100;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
}


a {
    text-decoration: none;
}

.countdown {
    color: $text-100;
    font-family: $font-family-sans-serif;
    font-size: 1.875rem;
    font-weight: $font-weight-bolder;
    letter-spacing: 0;
}


.logo {
    a {
        font-family: $headings-font-family;
        font-size: 1.875rem;
        font-weight: $headings-font-weight;
        letter-spacing: 0;
        text-decoration: line-through;
        text-transform: lowercase;
    }
}

.error-code {
    font-family: $font-family-sans-serif;
    font-size: 10 * $font-size-base;
}

.error-message {
    font-family: $font-family-sans-serif;
    font-size: $font-size-lg;
}

.error-list p {
    font-size: $font-size-base;
}

.request-id {
    font-size: $font-size-base;
}