@import "colors.scss";
@import "functions.scss";
@import "variables.scss";


.modal {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    &.fade {
        animation: fade 0.5s;
        display: none;
    }

    &.show {
        display: flex;
    }
}


.modal-dialog {
    background-color: tint-color($white-100, 90);
    min-width: 50vw;
}


.modal-content {
    padding: 2 * $spacer;
}


.modal-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1 * $spacer;
    margin-bottom: 1 * $spacer;
}


.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 1 * $spacer;
}
