.error-code-container {
    margin: 15vh 0 1.5rem;
    color: var(--text-color-10, #EFEFEF);
    font-size: 10rem;
}

.error-message-container {
    width: 23.75rem;
    height: 6.125rem;
    flex-shrink: 0;
}

.error-message-container p:nth-of-type(1) {
    line-height: 2.5rem;
    margin-bottom: .25rem;
}

.error-message-container p:nth-of-type(2) {
    font-size: var(--default-font-size, 1rem);
}

.error-message-container .error-list p {
    padding-left: 1rem 0 0 1rem;
}

.error-message-container .request-id {
    font-size: var(--default-font-size, 1rem);
    margin: 1rem 0;
}

.error-message-container .request-id p {
    line-height: 1.2rem;
}

@media screen and (max-width: 768px) {
    .error-code-container {
        margin: 10vh 0 1rem;
        font-size: 6rem;
    }

    .error-message-container {
        width: 100%;
        height: auto;
    }

        .error-message-container p:nth-of-type(1) {
            line-height: 2rem;
            margin-bottom: .5rem;
        }

        .error-message-container .error-list p {
            padding-left: .5rem 0 0 1rem;
        }

        .error-message-container .request-id {
            margin: .5rem 0;
        }

            .error-message-container .request-id p {
                line-height: 1rem;
            }
}
