.big-logo {
    font-family: Krona One;
    font-size: 4.375rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    color: var(--primary-color-100, #A762FF);
}

.logo a {
    font-family: Krona One;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    color: var(--primary-color-100, #A762FF);
}
@media (max-width: 767px) {
    .big-logo {
        font-size: 3rem;
    }

    .logo a {
        font-size: 1.5rem;
    }
}
