.modal-background {
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.modal-window {
    background: var(--secondary-color-05, #F5F5F5);
    border-radius: .625rem;
    padding: 1.5rem 2.5rem 3rem;
    width: 30vw;
}

.modal-window div h1 {
    color: var(--text-color-60, #9F9F9F);
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--x-biggest-font-size, 1.5rem);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.modal-window div p {
    color: var(--text-color-100, #484848);
    font-family: var(--default-font-family, Montserrat);
    font-size: var(--biggest-font-size, 1.5rem);
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
    .modal-window {
        height: 100vh;
        width: 100vw;
        padding: 2rem 1rem;
    }
}
