.big-logo-container {
    margin: 10rem 0 0 6.25rem;
}

.brand-container {
    overflow: hidden;
}

.promo-container {
    margin-top: 1rem;
}

.promo-text {
    color: var(--text-color-60, #9F9F9F);
    font-size: calc(var(--default-font-size, 1rem) * 2);
    margin: 15rem 1rem 5rem 5rem;
}

.warp-illustration-container {
    position: relative;
}

.warp-illustration-container img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
    left: 10vw;
    overflow: hidden;
    position: absolute;
}

@media screen and (max-width: var(--viewport-treshold, 768px)) {
    .big-logo-container {
        margin: 5rem 0 0 3.125rem;
    }

    .promo-text {
        margin: 10rem 1rem 3rem 3rem;
    }

    .warp-illustration-container img {
        display: none;
        left: 5vw;
    }
}
