.copyright {
    color: var(--text-color-40);
}

.nav-container {
    margin: .75rem 0;
}

.nav-container a {
    color: var(--text-color-60);
    padding: .25rem 0rem;
}

.social {
    color: var(--text-color-60);
    font-size: var(--x-smallest-font-size, .625rem);
    letter-spacing: .01875rem;
}

@media screen and (max-width: var(--viewport-treshold, 768px)) {
    .nav-container {
        margin: .5rem 0;
    }

        .nav-container a {
            padding: .2rem 0;
        }

    .social {
        letter-spacing: .015rem;
    }
}
