@model TabButtonModel

@{
    var className = "button-tab";
    if (Model.IsDisabled)
        className += " disabled";
}

<button id="@Model.Id" class="@className" type="button" tabindex="@Model.TabIndex">
    @Model.Caption
</button>